<mat-list>
  <!-- Loop over the "todos$" observable and display each todo item as a mat-list-item -->
  <mat-list-item *ngFor="let todo of todos$ | async">
    <div class="d-flex align-items-center justify-content-between">
      <!-- Display the todo task and strike it through if the todo is done -->
      <span 
        [class.text-decoration-line-through]="todo.done"
        matListItemTitle>
        {{todo.task}}
      </span>
      <div>
        <!-- Display a button that triggers a drop-down menu for translation options -->
        <button
          [matMenuTriggerFor]="menu"
          mat-raised-button
          class="me-2"
          color="accent">
          Translate
        </button>
        <mat-menu #menu="matMenu">
          <!-- Loop over the available languages and display a button for each that, when clicked, calls the "handleClickTranslate" function -->
          <button
            (click)="handleClickTranslate(todo, language.code)"
            *ngFor="let language of translationService.languages"
            mat-menu-item>
            {{language.name}}
          </button>
        </mat-menu>
        <!-- Display a button that, when clicked, calls the "handleClickDone" function -->
        <button
          (click)="handleClickDone(todo.todoId)"
          mat-raised-button
          color="warn">
          Done
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
